{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/charts.css" %}"></link>
{% endblock stylesheets %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/createChart.js' %}"></script>

    <script id="chart-data" type="application/json">
    {
        "departments": {{ departments|safe }},
        "employees_per_department": {{employees_per_department|safe}},
        "attendance_labels": {{ attendance_labels|safe }},
        "attendance_data": {{ attendance_data|safe }}
    }
    </script>
{% endblock scripts  %}

{% block content %}
    <div class="charts">
        <canvas id="Employees per Departent Pie Chart"></canvas>
        <canvas id="Monthly Attendance Bar Chart"></canvas>
    </div>
{% endblock content %}
